<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Constellation Garage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConstellationGarage.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Constellation Garage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-tabs flex-grow-1">
                        <li class="nav-item"><a id="brands" class="nav-link text-dark" asp-area="" asp-page="/Brands/Index">Brands</a></li>
                        <li class="nav-item"><a id="categories" class="nav-link text-dark" asp-area="" asp-page="/Categories/Index">Categories</a></li>
                        <li class="nav-item"><a id="cars" class="nav-link text-dark" asp-area="" asp-page="/Cars/Index">Cars</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">        
        <div class="container">
            <div class="text-center">
                <ul class="inline-list-2 fs-6">
                    <li>&copy; 2022 - Mathias Hue</li>
                    <li>- Conditions générales d'utilisation</li>
                    <li>- Politique de confidentialité</li>
                    <li>- Paramétrage cookies</li>
                    <li>- Conditions générales de ventes</li>
                    <li>- Mentions légales</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script defer type="text/javascript">
    var item_active = document.location.href.toLowerCase()
    if (item_active.indexOf("brands") > 0)
        $("#brands").addClass("active")
    else if (item_active.indexOf("categories") > 0)
        $("#categories").addClass("active")
    else if (item_active.indexOf("cars") > 0)
        $("#cars").addClass("active")
</script>