@page
@model ConstellationGarage.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete category";
}

<h1>Delete category</h1>

<h3>Are you sure you want to delete @Model.Category.Code category ?</h3>
<div>    
    <form method="post">
        <input type="hidden" asp-for="Category.Code" />
        <a asp-page="./Index" class="btn btn-secondary"><i class="bi bi-arrow-left-square"></i></a>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
